.chat-footer .fade-textarea
{
  visibility: hidden;
}
.chat-footer textarea
{
  height: auto;
  outline: none;
  resize: none;
  border: none;
  padding: 0;
  box-sizing: content-box;
  overflow: hidden;
}
.chat-footer textarea::-webkit-scrollbar 
{
  width: 0px;
  background-color: var(--font-eee);
}

.emoji-container
{
  max-width:378px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding-left:5px;
  padding-right:5px;
  padding-bottom: 15px;
}
.emoji-item
{
  flex: 0 0 25%;
  border:none;
  box-shadow: none;
  margin-left: 1.5px;
  margin-right: 1.5px;
}
.emoji-item:focus {
  outline: none;
}
