.chat-body .chat .container-xxl.container-secret
{
  width:75%;
  border-radius: 6%;
}
.chat-body .chat .container-xxl .form-control.form-secret
{
  margin-top:35px;
  margin-bottom:35px;
  border-color: var(--font-ccc);
  background-color: transparent;
}
.chat-body .chat .container-xxl .form-control.form-secret:focus
{
  box-shadow: none;
  outline: none;
  border-color: var(--primary-color);
  background-color: var(--sidebar-bg)
}