p
{
  letter-spacing:1px;
}

.btn:focus
{
  box-shadow: none;
}

.card-body .text-center button:focus 
{
  outline: none;
  border:none;
}

.link
{
  border:none;
  background:#fff;
}

.link:hover
{
  color: #0a58ca
}
