.ant-modal-body
{
  margin-top: 20px;
  margin-bottom: 10px;
}
.ant-modal-body .card
{
  background-color: #ffffff;
  border-color: #F5F5F5;
}

.ant-modal-body .container-xxl 
{
  overflow-x: hidden;
 
  border-top: 1px solid #dee2e6 !important;
}
.ant-modal-body .container-xxl::-webkit-scrollbar 
{
  width: 8px;
  background-color: var(--font-eee)
}

.ant-modal-body .container-xxl::-webkit-scrollbar-thumb 
{
  background: var(--sidebar-bg);
  border-radius: 5px
}

.ant-modal-body .container-xxl::-webkit-scrollbar-thumb:active 
{
  background-color: var(--font-color);
}
.ant-modal-body .container-xxl div>div>:first-child li 
{
    padding-top: 1rem !important;
}
.ant-modal-body .container-xxl div>div>:last-child li 
{
    padding-bottom:1rem !important;
}
.ant-modal-body .message .message-content
{
    background-color: #F5F5F5;
    min-width: 6%;
    border-radius: 0 15px 15px 15px;
    font-size: 16px; 
    white-space: pre-wrap;
    word-wrap:break-word;
    border-color: #F5F5F5!important;
}
.ant-modal-body .message .message-body
{
  flex:1;
  width:0;
}
.ant-modal-body .attachment img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
  box-shadow: 0 0 5px .3px #999 
}